{{#if containerConfig.kubernetes.kubernetesSecret.enable}}
{{#containerConfig.kubernetes.kubernetesSecret}}
@kubernetes:Secret {
    {{#if secrets}}
        secrets: [ {{#secrets}}
            { {{#name}}
                name: "{{name}}",{{/name}}{{#readOnly}}
                readOnly: {{readOnly}},{{/readOnly}}{{#if data}}
                data: [{{#data}}"{{.}}"{{#unless @last}},{{/unless}}{{/data}}],{{/if}}{{#mountPath}}
                mountPath: "{{mountPath}}",{{/mountPath}}{{#subPath}}
                subPath: {{subPath}}{{/subPath}}
            }{{#unless @last}},{{/unless}}{{/secrets}}
        ]{{/if}}
}{{/containerConfig.kubernetes.kubernetesSecret}}
{{/if}}